

.body{
    background-color:rgb(34, 34, 138);
    background-size: 1380px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
}


    .header{
        position: fixed;
        font-size: xx-large;
        color: rgba(24, 202, 202, 0.705);
        text-align: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        padding-bottom: 30px;
    }
    
    div{
        border-radius: 20px;
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
        padding:20px;
        text-align: center;
        margin: 20px;
        position: relative;
        background-color: black;
        text-align: left;
       /* transition: transform 0.5s, filter 0.5s;
        filter: blur(3px);
        opacity: 0.7;*/
    }

    /*div.active{
        transform: scale(1.5);
        filter: blur(0px);
        opacity: 1;
    }

    div.active:hover{
        transform: scale(1.7);
    }*/

   /* h1{
        color: black;
        text-align:center;  
    }*/
    
    footer{
        text-align: center;
        position: relative;
        top: 55%;
        right: 20px;
        width: 340px;
        height: 75px;
        color: black;
        backdrop-filter:blur(50px);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    input{
        background-color: greenyellow;
        color: black;
        border-radius: 10px;
    }
    
    button{
        background-color: rgb(28, 105, 28);
        color: white;
        border-radius: 10px;
    }
    
    div:hover{
        transform: scale(1.13);
    }
    
    :hover.input{
        background-color: black;
    }
    
    button:hover{
        background-color: rgb(0, 98, 128);
    }
    
    :hover.butto{
        background-color: rgb(17, 138, 17);
    }
    
    @keyframes appear{
        from{
            opacity: 0.5;
            scale: 0.4;
        }
    
        to{
            opacity: 1;
            scale: 1;
        }
    }
    
    div{
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }

    div:root{
        --fluid-min-width:var(140px);
        --fluid-max-width:var(300px);
        --fluid-min-size:var(16);
        --fluid-max-size:var(32);
    }
